*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    background-color: #915508;
    top: 0;
    justify-content: space-between;
    padding: 0 100px;
    width: 100%;
    height: 60px;
    .wrap{

        height: 100%;
        width: 100%;
        .element{
            width: 120px;
            height: 100%;
        }
    }
    

}

.content{


    .slider{

    }
    .active{
        
    }
}